[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[2021-05-31-10-56-20-00]
row=4
col=0

[b4e94d77-3cf4-4b3a-a6c7-9a4aac62fec6]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/muser]
row=1
col=0

